#my-container {
  color: wheat;
  background: #000;
  height: 100vh;
  width: 100%;
}

.pink {
  font-size: 0.7rem;
  color: pink;
  border: 2px solid pink;
  margin-left: 0.6rem;
  padding: 0.2rem;
  border-radius: 6px;
}
